// -------- Modules -------

// Burger

#burger {
   display: none;
   align-items: center;
   position: relative;
   z-index: 3;
   width: 1.875rem;
   height: 1.25rem;

   &::before,
   &::after {
      content: '';
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.125rem;
      background: $text;
      transition: .5s ease all;
   }

   &::before {
      top: 0;

      .header.active & {
         top: 0.5625rem;
         transform: rotate(45deg);
      }
   }

   & span {
      position: absolute;
      left: 0;
      width: 100%;
      height: 0.125rem;
      background: $text;
      transition: .3s ease opacity;

      .header.active & {
         opacity: 0;
      }
   }

   &::after {
      bottom: 0;

      .header.active & {
         bottom: 0.5625rem;
         transform: rotate(-45deg);
      }
   }

   @media (max-width: 48rem) {
      & {
         display: flex;
      }
   }
}

// Menu-link 

.menu-link {
   font-size: clamp(1.125rem, 2vw, 1.25rem);
   font-weight: 400;
   padding-bottom: 0.1875rem;

   &:hover {
      border-bottom: 1px solid $text;
   }
}

// Overflow 

.overflow {
   overflow: hidden;
}

// Hero

.hero {
   // &__container {}
   // padding-top: 50px;

   &__body {
      border-top: 0.0625rem solid #A8A8A8;
      border-bottom: 0.0625rem solid #A8A8A8;
   }

   &__title {
      font-size: clamp(3.625rem, 19vw, 15.2375rem);
      font-weight: 700;
      line-height: normal;
      text-align: center;
      text-transform: uppercase;
   }

   @media (max-width: 40rem) {
      &__title {
         font-size: clamp(2.5rem, 18.5vw, 15.2375rem);
      }
   }

   @media (max-width: 25.5rem) {
      &__title {
         font-size: clamp(2.5rem, 17.8vw, 15.2375rem);
      }
   }
}

// Title h2 

.title {
   font-size: 1.5rem;
   font-weight: 600;
   line-height: 133.333%;
}

// Article 

.article {

   &__image {

      img {
         object-fit: cover;
         object-position: center;
         width: 100%;
      }
   }

   // &__content {}

   &__info {
      color: $info;
      font-size: 0.875rem;
      font-weight: 600;
      line-height: 142.857%;
   }

   &__header {
      display: flex;
      justify-content: space-between;
      align-items: flex-start;
   }

   &__title {
      font-size: 1.5rem;
      font-weight: 600;
      line-height: 133.333%;
   }

   // &__icon {}

   &__text {
      color: $text-description;
   }

   &__categories {
      display: flex;
      gap: 0.5rem;
   }
}

.categories {

   &__item {
      padding: 0.125rem 0.625rem;
      border-radius: 1rem;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 142.857%;
   }

   &__item-purple {
      background: #F9F5FF;
      color: #6941C6;
   }

   &__item-blue {
      background: #EEF4FF;
      color: #3538CD;
   }

   &__item-red {
      background: #FDF2FA;
      color: #C11574;
   }

   &__item-green {
      background: #ECFDF3;
      color: #027A48;
   }

   &__item-yellow {
      background: #FFF6ED;
      color: #C4320A;
   }

   &__item-gray {
      background: #F8F9FC;
      color: #363F72;
   }

}

// Article link 

.article__link {
   transition: .2s ease opacity;
   display: flex;

   &:hover {
      opacity: .5;
   }
}

.article__image.article__link {

   &:hover {
      opacity: .8;
   }
}

// Newsletters

.newlatters {

   // &__container {}

   &__body {
      text-align: center;
   }

   &__pretitle {
      color: #7F56D9;
      font-weight: 600;
      margin-bottom: 0.75rem;
   }

   &__title {
      font-size: clamp(1rem, 10vw, 3rem);
      font-weight: 600;
      line-height: 125%;
      letter-spacing: -0.06rem;
      margin-bottom: 1.5rem;
   }

   &__text {
      font-size: 1.25rem;
      color: $text-description;
      max-width: 48rem;
      margin: 0 auto 3rem;
   }

   &__form {
      margin-bottom: 0.5rem;

      input[type="email"] {
         padding: 0.75rem 1rem;
         font-size: 1rem;
         color: $text-description;  
         font-weight: 400;
         border: 0.0625rem solid #D0D5DD;
         box-shadow: 0rem 0.0625rem 0.125rem 0rem rgba(16, 24, 40, 0.05);
         border-radius: 0.5rem;
      }

      input[type="submit"] {
         padding: 0.75rem 1.25rem;
         background: #7F56D9;
         border-radius: 0.5rem;
         font-size: 500;
         font-size: 1rem;
         color: #fff;
         margin-left: 16px;
         transition: .2s ease opacity;

         &:hover {
            opacity: .8;
         }
      }

      @media (max-width: 30.0625rem) {
         display: flex;
         flex-direction: column;
         gap: 1.25rem;

         input[type="submit"] {
            margin-left: 0;
         }
      }
   }

   &__privacy {
      color: $text-description;
      font-size: 0.875rem;
      line-height: 1.25rem;

      a {
         text-decoration: underline;
      }
   }
}


// -------- Modules -------