// -------- Variables --------

$text: #1A1A1A;
$info: #6941C6;
$text-description: #667085; 

$category-purple-background: #F9F5FF; 
$category-purple-text: #6941C6;

$category-blue-background: #EEF4FF; 
$category-blue-text: #3538CD;

$category-red-background: #FDF2FA; 
$category-red-text: #C11574;

$category-green-background: #ECFDF3; 
$category-green-text: #027A48;

$category-yellow-background: #FFF6ED; 
$category-yellow-text: #C4320A;

$category-gray-background: #F8F9FC; 
$category-gray-text: #363F72;

// -------- Variables --------