// -------- Global --------

@import "global.scss";

// -------- Global --------

// -------- Variables --------

@import "_variables.scss";

// -------- Variables --------

// -------- Modules --------

@import "_modules.scss";
@import "_header.scss";
@import "_footer.scss";

// -------- Modules --------

// -------- Hero --------

.hero {
   padding-top: 3.75rem;

   @media (max-width: 64rem) {
      padding-top: 1.875rem;
   }

   @media (max-width: 40rem) {
      padding: 0px;
   }

   @media (max-width: 25.5rem) {
      padding-top: 1.25rem 0;
   }
}

// -------- Hero --------

// -------- Recent --------

.recent {
   padding: 3.75rem 0 1.875rem;

   // &__body {}

   &__title {
      margin: 0 0 40px 0;

      @media (max-width: 48rem) {
         margin: 0 0 1.25rem 0;
      }
   }

   &__top {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(31.25rem, 1fr));
      gap: 2rem;
      margin-bottom: 3.75rem;

      // For big top left
      .article {

         &__image {
            margin-bottom: 2rem;
            height: 14.25rem;

            img {
               height: 100%;
            }
         }

         &__info {
            margin-bottom: 0.75rem;
         }

         &__header {
            margin-bottom: 0.75rem;
         }

         &__text {
            margin-bottom: 1.5rem;
         }
      }

      @media (max-width: 65.9375rem) {
         margin-bottom: 1.875rem;
      }

      @media (max-width: 34.625rem) {
         grid-template-columns: 1fr;
      }
   }

   // For two top right
   &__duo {
      display: flex;
      flex-direction: column;
      gap: 2rem;

      .recent__article {
         display: flex;
         gap: 1.5rem;
         height: 12.5rem;

         @media (max-width: 34.625em) {
            height: auto;

            .article {

               &__image {
                  max-height: 12.5rem;
               }
            }
         }
      }

      .article {

         &__content {
            flex: 1 1 50%;
         }

         &__image {
            margin-bottom: 0;
            flex: 1 1 50%;

            img {
               height: 12.5rem;
            }
         }

         &__info {
            margin-bottom: 0.75rem;
         }

         &__header {
            margin-bottom: 0.5rem;
         }

         &__title {
            font-size: 1.125rem;
         }

         &__text {
            margin-bottom: 1.5rem;
            font-size: 1rem;
         }

         @media (max-width: 34.625rem) {
            flex-direction: column;
         }
      }
   }

   // For bottom big
   .article-bottom {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(31.25rem, 1fr));
      gap: 1.5rem;

      .article {

         &__image {
            height: 100%;

            img {
               height: 100%;
               width: 100%;

               @media (max-width: 65.9375rem) {
                  max-height: 15.5rem;
               }
            }
         }

         &__info {
            margin-bottom: 0.75rem;
         }

         &__header {
            margin-bottom: 0.75rem;
         }

         &__text {
            margin-bottom: 1.5rem;
         }
      }

      @media (max-width: 34.625em) {
         grid-template-columns: 1fr;
      }
   }

   @media (max-width: 65.9375rem) {
      padding: 2.5rem 0 1.25rem;
   }

   @media (max-width: 34.375rem) {
      padding: 1.25rem 0 0.625rem;
   }
}

// -------- Recent --------

// -------- All --------

.all {
   padding: 1.875rem 0;

   // &__container {}

   // &__body {}

   &__title {
      margin: 0 0 40px 0;

      @media (max-width: 48rem) {
         margin: 0 0 1.25rem 0;
      }
   }

   &__row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 3rem 2rem;
      margin-bottom: 1.875rem;

      @media (max-width: 350px) {
         grid-template-columns: 1fr;
      }
   }

   .article {

      &__image {
         max-width: 100%;
         margin-bottom: 2rem;

         img {
            max-width: 100%;
            object-fit: cover;
         }
      }

      &__info {
         margin-bottom: 0.75rem;
      }

      &__header {
         margin-bottom: 0.75rem;
      }

      &__text {
         margin-bottom: 1.5rem;
      }
   }
}

// -------- All --------

// -------- Pages -------

.pages {
   margin-bottom: 1.875rem;

   // &__container {}

   &__body {
      display: flex;
      justify-content: space-between;
      align-items: center;
      padding-top: 1.25rem;
      border-top: 0.0625rem solid #EAECF0;
   }

   &__fast {
      display: flex;
      align-items: center;
      font-size: 0.875rem;
      font-weight: 500;
      line-height: 142%;
      color: $text-description;
      transition: .2s ease opacity;

      &:hover {
         opacity: .7;
      }
   }

   &__prev {

      img {
         margin-right: 0.5rem;
      }
   }

   // &__nav {}

   &__list {
      display: flex;
      gap: 0.125rem;
   }

   &__item {
      padding: 0.625rem 1.0313rem;
      border-radius: 0.5rem;
      transition: .2s ease all;

      &:hover {
         background: #F9F5FF;
         color: #6941C6;
      }
   }

   &__link {
      font-size: 0.875rem;
      line-height: 142%;
   }

   &__next {

      img {
         margin-left: 0.5rem;
      }
   }

   @media (max-width: 42.75rem) {
      &__body {
         padding-bottom: 1.875rem;
         border-bottom: 0.0625rem solid #EAECF0;
         flex-direction: column;
         gap: 1.25rem;
      }
   }
}

// -------- Pages -------

// -------- Footer -------

.footer {
   &__body {
      padding: 0;
      border: none;
   }
}

// -------- Footer -------