// -------- Global --------

@import "global.scss";

// -------- Global --------

// -------- Variables --------

@import "_variables.scss";

// -------- Variables --------

// -------- Modules --------

@import "_modules.scss";
@import "_header.scss";
@import "_footer.scss";

// -------- Modules --------

// -------- Newlatters --------

.newlatters {
   padding: 3.75rem 0 3.75rem;

   @media (max-width: 64rem) {
      padding: 2.5rem 0 3.75rem;
   }

   @media (max-width: 48rem) {
      padding: 1.25rem 0 40px;

   }
}

// -------- Newlatters --------

// -------- All --------

.all {
   padding-bottom: 30px;

   // &__container {}

   // &__body {}

   &__title {
      margin-bottom: 2rem;
   }

   &__row {
      display: grid;
      grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
      gap: 2rem;
   }

   .article {

      &__image {
         margin-bottom: 2rem;
      }

      &__info {
         margin-bottom: 0.75rem;
      }

      &__title {
         margin-bottom: 0.75rem;
      }

      &__text {
         margin-bottom: 1.5rem;
      }
   }
}

// -------- All --------